:root {
  --ui-body-background: #f6f6f6;

  --ui-grid-gutter: 1rem;
  --ui-grid-max-width: 1280px;

  --ui-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

  --ui-border-radius: 99rem;
  --ui-primary-color: #E98C3B;
}