:root {
  --ui-button-border-radius: var(--ui-border-radius);
  --ui-button-primary-background-color: var(--ui-primary-color);
  --ui-button-height: var(--ui-input-height);
}

.b-button {
  border-radius: var(--ui-button-border-radius);
  border: none;
  width: 100%;
  padding: 0 1rem;
  display: block;
  min-height: var(--ui-button-height);
  color: #fff;
  text-align: left;
  box-shadow: 0 5px 17px 0 rgba(51, 51, 89, .25);
  background: {
    color: var(--ui-button-primary-background-color);
    image: url(../images/arrow-right-circle.svg);
    position: calc(100% - .5rem) 50%;
    repeat: no-repeat;
    size: calc(var(--ui-button-height) - 12px);
  }
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    box-shadow: 0 10px 35px 0 rgba(51, 51, 89, .25);
  }

  &:active {
    box-shadow: 0 3px 15px 0 rgba(51, 51, 89, .15) inset;
  }
}