:root {
  --ui-input-border-radius: var(--ui-border-radius);
  --ui-input-background-color: #fff;
  --ui-input-height: 42px;
}

.b-input {
  background: {
    color: var(--ui-input-background-color);
  }
  border-radius: var(--ui-input-border-radius);
  min-height: var(--ui-input-height);
  box-shadow: 0 1px 2px rgba(#000, .3) inset;
  border: {
    width: 1px;
    style: solid;
    color: rgba(#000, 0.3);
  }
  width: 100%;
  display: block;
  padding: 0 1rem;
  background: {
    repeat: no-repeat;
  }

  &--icon {
    text-indent: 1.5rem;
    background: {
      position: .5rem 50%;
      size: calc(var(--ui-input-height) - 12px);
    }
  }

  &--username {
    background: {
      image: url(../images/user.svg);
    }
  }

  &--password {
    background: {
      image: url(../images/password.svg);
    }
  }
}