.b-loadmore {
  text-align: center;
  margin: 1rem auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  justify-content: center;

  &:hover {
    color: var(--ui-primary-color);
  }

  &__icon {
    margin-right: .5rem;
  }
}