.b-login {
  &__form {
    max-width: 640px;
    margin: 0 auto;
  }

  &__row {
    margin-bottom: 1rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 1.4rem;
  }

  &__text {

  }
}