.b-user-list {
  &__heading {
    @extend .b-heading;
    @extend .b-heading--xxlarge;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__header {
    background: {
      color: var(--ui-primary-color);
    }
    height: 18px;
  }

  &__row {
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem;

    &--even {
      background: {
        color: #fff;
      }
    }

    &--odd {
      background: {
        color: #f1f1f1;
      }
    }
  }

  &__icon-col {
    text-align: center;
  }

  &__check {
    color: green;
  }

  &__username {
  }

  &__fullname {
    color: grey;
    margin-top: .5rem;
  }
}